USE [DbCustomer]
GO
/****** Object:  Table [dbo].[TblCity]    Script Date: 13.03.2026 22:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCity](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[CityCountry] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblCity] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCustomer]    Script Date: 13.03.2026 22:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCustomer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerSurname] [nvarchar](50) NULL,
	[CustomerBalance] [decimal](18, 2) NULL,
	[CustomerStatus] [bit] NULL,
	[CustomerCity] [int] NOT NULL,
 CONSTRAINT [PK_TblCustomer_1] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblCity] ON 

INSERT [dbo].[TblCity] ([CityId], [CityName], [CityCountry]) VALUES (1, N'İstanbul', N'Türkiye')
INSERT [dbo].[TblCity] ([CityId], [CityName], [CityCountry]) VALUES (2, N'Ankara', N'Türkiye')
INSERT [dbo].[TblCity] ([CityId], [CityName], [CityCountry]) VALUES (4, N'Milano', N'İtalya')
SET IDENTITY_INSERT [dbo].[TblCity] OFF
GO
SET IDENTITY_INSERT [dbo].[TblCustomer] ON 

INSERT [dbo].[TblCustomer] ([CustomerId], [CustomerName], [CustomerSurname], [CustomerBalance], [CustomerStatus], [CustomerCity]) VALUES (1, N'Ali', N'Yıldız', CAST(250000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TblCustomer] ([CustomerId], [CustomerName], [CustomerSurname], [CustomerBalance], [CustomerStatus], [CustomerCity]) VALUES (2, N'Ahmet', N'Çınar', CAST(356000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TblCustomer] ([CustomerId], [CustomerName], [CustomerSurname], [CustomerBalance], [CustomerStatus], [CustomerCity]) VALUES (3, N'Ayşe', N'Kayalı', CAST(285000.00 AS Decimal(18, 2)), 1, 4)
SET IDENTITY_INSERT [dbo].[TblCustomer] OFF
GO
ALTER TABLE [dbo].[TblCustomer]  WITH CHECK ADD  CONSTRAINT [FK_TblCustomer_TblCity] FOREIGN KEY([CustomerCity])
REFERENCES [dbo].[TblCity] ([CityId])
GO
ALTER TABLE [dbo].[TblCustomer] CHECK CONSTRAINT [FK_TblCustomer_TblCity]
GO
/****** Object:  StoredProcedure [dbo].[CustomerListWithCity]    Script Date: 13.03.2026 22:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[CustomerListWithCity]
as
SELECT CustomerId, CustomerName, CustomerSurname, CustomerBalance, CustomerStatus, CityName FROM TblCustomer INNER JOIN TblCity ON TblCity.CityId = TblCustomer.CustomerCity
GO
